[user]
	email = daniil@squaredu.cc
	name = Daniil Velichko

[core]
  pager = delta

[delta]
  plus-color = "#506336"
  minus-color = "#993F33"
  syntax-theme = plastic-duck
  line-numbers = true
  side-by-side = false

[interactive]
  diffFilter = delta --color-only
